* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ui-sans-serif', 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color: #131313;
    overflow-x: hidden; /* Prevents horizontal scroll */
}


.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    font-weight: 200;
    font-style: normal;
    font-family: "Hubot Sans", serif;
    text-align: center;
}
@media screen and (max-width: 480px) {
    .navbar {
        height: 87px;
        margin-bottom: 30px;
    }
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #DCDCDC;
    background-image: linear-gradient(to top, #A9A9A9 0%, #F0FFFF 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    font-weight: 200;
    font-style: normal;
    font-family: "Hubot Sans", serif;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    background-color: transparent;
    
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   padding: 10px 20px;
   height: 100%;
   width: 100%;
   border: none;
   outline: none;
   border-radius: 4px;
   background: #696969;
   background-color: transparent;
   color: #fff; 
   border: 2px solid white;
}



.button-transparent {
    background-color: transparent; /* Makes the background see-through */
    color: white; /* Sets the text color */
    border: 2px solid white; /* Adds a white border around the button */
    padding: 10px 20px; /* Adds space inside the button */
    text-align: center; /* Centers the text inside the button */
    text-decoration: none; /* Removes underline from text */
    display: inline-block; /* Allows setting dimensions */
    font-size: 16px; /* Sets the font size */
    margin: 4px 2px; /* Adds margin around the button */
    cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.button:hover {
    background: #004494;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #696969;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 60px;
        z-index: 1;
        width: 99%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 72vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 72vh;
        font-size: 1.3rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55%;
        height: 60px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;   
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);   
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);   
    }
}


.feature-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.job-card {
    background-color: #e9e9e9;
    padding: 30px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    justify-content: space-between;
}

.button2 {
    background-color: #696969;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button2:hover {
    background-color: #0056b3;
}

.apply-button {
    display: block;
    width: max-content;
    margin-top: 20px;
}



@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-family: "Hubot Sans", serif;
    font-weight: 200;
    font-style: normal;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
    font-weight: normal;
    font-family: "Hubot Sans", serif;
    font-weight: 350;
    font-style: normal;
}

.footer__link--items > h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights {
    color: #fff
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
@media screen and (max-width: 960px) {
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
}
@media screen and (max-width: 960px) {
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
}


.application-form {
    background-color: #1A1A1A;
    color: white;
    padding: 20px;
    margin: 40px auto;
    font-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.application-form .container {
    max-width: 800px;
    color: white;
    margin: auto;
    font-color: white;
    
}
.application-form .container h2 {
    max-width: 800px;
    margin: auto;
    font-size: 2rem;
    font-weight: normal;
    font-color: white;
    font-family: "Hubot Sans", serif;
    font-weight: 300;
    font-style: normal; 
}

.application-form form {
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: "Hubot Sans", serif;
    font-weight: 350;
    font-style: normal; 
}

.application-form label {
    margin-bottom: 5px;
    color: white;
}

.application-form input[type="text"],
.application-form input[type="email"],
.application-form input[type="file"],
.application-form textarea {
    color: white;
    background-color: #1a1a1a;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #131313;
}

.application-form button.submit-button {
    margin-top: 5px;
    background-color: #696969;
    color: #fff;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: normal;
    font-family: "Hubot Sans", serif;
    font-weight: 350;
    font-style: normal; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.application-form button.submit-button:hover {
    background-color: #004494;
}


.hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity to make it darker */
    z-index: 0; /* Ensures overlay is above the image but below the text */
}
.overlay-text {
    text-align: center;
    color: white;
    z-index: 2;
    width: 80%; /* Controls width to center content */
    margin-bottom: 20px;
    font-family: "Hubot Sans", serif;
    font-style: normal;
    background: none;
    border: 1px solid white;
    max-width: 1000px;
}

.expanding-line {
    height: 2px; /* Set the line thickness */
    background: white; /* Line color */
    width: 0; /* Start width, no visible line initially */
    margin: 20px auto 0; /* Center the line horizontally */
    transition: width 0.5s ease-out; /* Animation for line expansion */
}

.expanding-bar {
    width: 5px; /* Set the thickness of the vertical bar */
    background: white; /* Bar color */
    height: 0; /* Start height, no visible bar initially */
    margin-left: auto; /* Center the bar next to the line */
    margin-right: auto;
    transition: height 0.5s ease-out; /* Animation for bar expansion */
    position: absolute;
    left: 50%; /* Position in the center below the line */
    bottom: 10px; /* Spacing from the bottom of the text */
}
.overlay-text h1 {
    font-size: 2.5rem;
    font-family: "Hubot Sans", serif;
    font-weight: 400;
    font-style: normal;
    background: none;
    margin-bottom: 10px;
    padding: 0;
    margin-top: 20px;
}
.overlay-text p {
    font-size: 1rem;
    font-family: "Hubot Sans", serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 25px;
    background: none;
    padding: 0;
    color: white;
}


.dynamic-weight {
    font-weight: 200; /* Default weight */
    transition: font-weight 0.5s ease; /* Smooth transition for font weight change */
}

.bold {
    font-weight: 600;
}


.button-container {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    font-weight: 200;
    font-style: normal;
    font-family: "Hubot Sans", serif;

}


.separator {
    background-color: white;
    height: 50px; /* Adjust based on your design preference */
    width: 2px;
    margin: 0 15px;
    opacity: 0; /* Start hidden */
    animation: extend 1s 0.5s forwards ease; /* Animation with delay */
}

.hero-section:hover .expanding-line {
    width: 50%; /* End width after expansion, adjust as needed */
}

.hero-section:hover .expanding-bar {
    height: 30px; /* End height after expansion, adjust as needed */
}

/* Animation to extend and show the separator */
@keyframes extend {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 50px;
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .button-container {
        flex-wrap: wrap; /* Allows buttons to wrap onto the next line */
        justify-content: space-around; /* Evenly spaces buttons within the container */
    }
    .overlay-text h1 {
        font-size: 3.5rem;
    }

    button, .separator {
        flex-basis: 45%; /* Sets the base size for buttons and separators */
        margin-bottom: 10px; /* Adds space between rows of buttons */
    }

    .separator {
        display: none; /* Hides separators in mobile view for clarity */
    }
}


.services {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
 }
 
 .services h1 {
     font-size: 2.8rem;
     font-weight: normal;
     font-family: "Hubot Sans", serif;
     font-weight: 370;
     font-style: normal;
     margin-top: 10px;
     margin-bottom: 40px;
     color: white;
 }
 
 .services__container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }
 
 .services__card {
     margin: 1rem;
     height: 555px;
     width: 400px;
     margin-right: 30px;
     border-radius: 4px;
     background-image: linear-gradient(
         to bottom,
         rgba(0, 0, 0, 0) 0%,
         rgba(17, 17, 17, 0.6) 100%
         ), 
         URL("micro.jpg");
         background-size: cover;
         position: relative;
         color: #fff;
 }
 
 .services__card:nth-child(2) {
     margin: 1rem;
     height: 555px;
     width: 400px;
     margin-left: 30px;
     border-radius: 4px;
     background-image: linear-gradient(
         to bottom,
         rgba(0, 0, 0, 0) 0%,
         rgba(17, 17, 17, 0.6) 100%
         ), 
         URL("interview.jpg");
 }
 
 .services h2 {
     position: absolute;
     top: 330px;
     left: 30px;
     font-size: 1.5rem;
     font-weight: normal;
     font-family: "Hubot Sans", serif;
     font-weight: 450;
     font-style: normal;
 }
 
 .services__card p {
     position: absolute;
     top: 400px;
     left: 30px;
     font-size: 1rem;
     font-weight: normal;
     font-family: "Hubot Sans", serif;
     font-weight: 200;
     font-style: normal;
 }
 
 .services__card button {
     color: #fff;
     margin-top: 10px;
     padding: 5px 10x;
     border: 2px solid white;
     outline: none;
     border-radius: 2px;
     background-color: transparent; /* Blue background */
     color: white; /* White text */
     position: absolute;
     top: 440px;
     left: 30px;
     font-size: 1rem;
     cursor: pointer;
     font-weight: normal;
     font-family: "Hubot Sans", serif;
     font-weight: 200;
     font-style: normal;
 }
 
 .services__card:hover {
     transform: scale(1.075);
     transition: 0.2s ease-in;
     cursor: pointer;
 }
 
 @media screen and (max-width: 960px) {
     .services {
         height: 1600px;
     }
 
     .services h1 {
         font-size: 3rem;
         margin-top: 12rem;
     }
 }
 
 @media screen and (max-width: 480px) {
     .services {
         height: 1400px;
     }
 
     .services h1 {
         font-size: 3rem;
     }
 
     .services__card {
         width: 300px;
     }
 }

 .school-partners {
    margin-top: 200px;
    position: absolute; /* or 'absolute' depending on layout context */
    top: 80px; /* Adjust to align with the main content header */
    right: 0;
    width: 300px; /* Slightly wider for better alignment */
    background-color: #131313;
    color: white;
    padding: 20px 40px 20px 20px; /* Added padding on the left for alignment */
    z-index: 100;
    margin-right: 10px;
    max-height: calc(100% - 40px); /* Ensures it doesn't overlap with the footer */
    overflow-y: auto; /* Adds scroll to the sidebar if content is too long */
}

.school-partners h3 {
    font-size: 1.5rem;
    font-weight: normal;
    font-family: "Hubot Sans", serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 50px;
    text-align: center;
}

.testimonials blockquote {
    font-style: italic;
    padding-left: 10px;
    border-left: 3px solid #fff;
}

blockquote cite {
    display: block;
    margin-bottom: 50px;
    margin: 70px 0; /* Increased space between testimonials */
    font-style: normal;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

@media screen and (max-width: 1650px) {
    .school-partners {
        display: none;
    }
}



.een-careers {
    background-color: #161616;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.een-careers h2 {
    color: white;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: "Hubot Sans", serif;
    font-weight: 300;
    font-style: normal;
}

.benefits-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.benefit {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.benefit-title {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    text-align: left;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}

.benefit-title:hover,
.benefit-title:focus {
    background-color: #333;
}

.benefit-content {
    display: none;
    padding: 10px 20px;
    color: #666;
    background-color: #171717;
    text-align: left;
    margin-left: 30px;
    max-width: 900px;
    margin-bottom: 10px;
}

.benefit-title.active + .benefit-content {
    display: block;
}

@media (max-width: 768px) {
    .een-careers {
        padding: 5px;
    }
}

@media screen and (max-width: 1290px) {
    .een-careers {
        margin-top: 500px;
    }
}


.why-choose-een {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
    background-color: #131313;
    font-size: 3rem;
    font-weight: normal;
    font-family: "Hubot Sans", serif;
    font-weight: 200;
    font-style: normal;
    margin-top: 120px;
}


.button-container {
    text-align: center; /* Center-aligns the content of the container */
    padding: 20px; /* Adds padding around the buttons for better spacing */
    font-weight: normal;
    font-family: "Hubot Sans", serif;
    font-weight: 200;
    background: none;
    margin-top: 100px;
}

.button-container button {
    color: white;
    margin: 0 10px; /* Adds horizontal spacing between buttons */
    padding: 10px 20px; /* Adds padding inside the buttons for better touch */
    background-color: transparent; /* Light grey background for the buttons */
    border: 2px solid white; /* Grey border for the buttons */
    font-size: 16px; /* Increases the font size for better readability */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}

.button-container button:hover {
    background-color: #e1e1e1; /* Slightly darker background on hover */
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    text-align: left;
    background-color: #1A1A1A; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    font-size: 3rem;
    font-weight: normal;
    font-family: "Hubot Sans", serif;
    font-weight: 200;
    font-style: normal;
}


.text-container {
    flex: 2;
    padding-right: 20px;
    padding-left: 10px;
}

.text-container h2 {
    font-size: 28px;
    color: #fff; /* Dark blue color */
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    background-color: transparent;
    font-size: 2rem;
    font-weight: normal;
    font-family: "Hubot Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.text-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    background-color: transparent;
    justify-content: space-between;
    margin-bottom: 50px;
    text-align: center;
}

.image-container2 {
    flex: 2;
}

.image-container2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}



.info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    background-color: none;
}

.info-text h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.info-text p {
    font-size: 14px;
}

.info-btn {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border: 2px solid #fff; /* Solid border for the button */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.info-btn:hover {
    background-color: #003366;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 900px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .image-container {
        max-width: 100%;
    }

    .info-content {
        flex-direction: column;
        text-align: center;
    }

    .info-btn {
        margin-top: 10px;
    }
}


