* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ui-sans-serif', 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
}


.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #DCDCDC;
    background-image: linear-gradient(to top, #A9A9A9 0%, #F0FFFF 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    background-color: transparent;
    
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   padding: 10px 20px;
   height: 100%;
   width: 100%;
   border: none;
   outline: none;
   border-radius: 4px;
   background: #696969;
   background-color: transparent;
   color: #fff; 
   border: 2px solid white;
}
button-transparent {
    background-color: transparent; /* Makes the background see-through */
    color: white; /* Sets the text color */
    border: 2px solid white; /* Adds a white border around the button */
    padding: 10px 20px; /* Adds space inside the button */
    text-align: center; /* Centers the text inside the button */
    text-decoration: none; /* Removes underline from text */
    display: inline-block; /* Allows setting dimensions */
    font-size: 16px; /* Sets the font size */
    margin: 4px 2px; /* Adds margin around the button */
    cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.button:hover {
    background: #004494;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #696969;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 60px;
        z-index: 1;
        width: 99%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 72vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 72vh;
        font-size: 1.3rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55%;
        height: 60px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;   
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);   
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);   
    }
}

.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items > h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights {
    color: #fff
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
@media screen and (max-width: 960px) {
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
}
@media screen and (max-width: 960px) {
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}


.page-header, .internship-opportunities, .how-to-apply, .testimonials {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.page-header h1 {
    text-align: center;
    padding: 10px;
}
.page-header p {
    text-align: center;
}

.process {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
}

.process__step {
    flex: 1;
    margin: 0 10px;
    text-align: center;
    background-color: #e9e9e9; /* Adjust color based on your design */
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: flex-basis 0.5s ease-in-out;
}


.process__step img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.step__info h2 {
    margin-top: 20px;
    color: #333;
}

.step__info p {
    color: #666;
    margin: 20px 0;
}

button {
    background-color: #696969;
    color: #fff;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 960px) {
    .process {
        flex-direction: column;
    }

    .process__step {
        margin: 10px 0; /* More vertical spacing, less horizontal */
        flex-basis: 100%; /* Makes each step take full width */
    }
}

.bellow {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    height: 100%;
}

.below_button {
    background-color: #696969;
    color: #fff;
    border:#131313;
    text-align: center;
    padding: 4px 8px;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 100px;
    transition: background-color 0.3s;
}

.below_button:hover {
    background-color: #0056b3;
    
}

.team-section {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4; /* Light background color for the section */
}

.team-container {
    display: flex;
    justify-content: center; /* Centers the team member profiles */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    margin-top: 20px;
}

.team-member {
    flex-basis: 45%; /* Adjusted for better spacing with only two members */
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for each profile */
    padding: 20px;
    background-color: #fff; /* White background for each profile */
    border-radius: 10px; /* Rounded corners */
}

.team-member img {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Equal to width to maintain aspect ratio */
    border-radius: 50%; /* Circular mask */
    object-fit: cover; /* Ensures images cover the area without being distorted */
    margin-bottom: 15px;
}

.team-member:nth-child(2) img {
    object-position: center; /* Adjust this as needed e.g., 'left 10%', 'center bottom' */
}

h2, h3 {
    color: #333; /* Dark gray text for headings */
}

p.title {
    font-weight: bold;
    color: #007BFF; /* Blue color for job titles */
}

.meet-team-btn {
    background-color: #0056b3; /* Blue background for button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.meet-team-btn:hover {
    background-color: #004494; /* Darker blue on hover */
}

@media (max-width: 960px) {
    .team-member {
        flex-basis: 100%; /* Full width for better visibility on smaller screens */
    }
}
